/* GLOBAIS */
:root {
    --dark-blue : #363f5f;
}
* {
    margin: 1;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #cabebe;
    font-family: 'Glory', sans-serif;
} 

.container {
    width: min(90vw, 800px);
    margin: auto;
}
/* Titles */
h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--dark-blue);
    font-weight: normal;
}
/* HEADER */
header {
    background: #2d4a22;
    padding: 2rem 2rem 6rem 6rem;
    text-align: center;
}

header h1 {
    color: #fff;
    font-weight: 100;

}

/* BALANCE */
#balance {
    margin-top: -8rem;
}

#balance h2 {
    color: white;
    margin-top: 0;
}

/* CARDS */
.card {
    background: white;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    color: var(--dark-blue);
}

.card h3 {
    font-weight: bold;
    font-size: 1rem;
}

.card p {
    font-size: 2rem;
    margin-top: 1rem;
}

.card.total {
    background: #49aa26;
    color: white;
}

/* TABLE */
#data-table {
    width: 100%;
    border-spacing: 0 0.5rem;
    color: #000000;
    font-weight: normal;
}

table thead tr th:first-child,
table tbody tr td:first-child {
    border-radius: 0.25rem;

}

table thead th {
    background: white;
    font-weight: bolder;
    padding: 1rem 2rem;
    text-align: left;
}

table tbody tr {
    opacity: 0.7;
}
table tbody tr:hover {
    opacity: 1;
}

table tbody td {
    background: white;
    padding: 1rem 2rem;
}

td.description {
    color: var(--dark-blue)
}

td.income {
    color: #12a454
}

td.expense {
    color: #e92929
}

/* FOOTER */
footer {
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(--dark-blue)
}